@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.swiper{
    width: 950px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    background-image: linear-gradient(#fff, #7d2ae8);

}

.section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}
.section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.card{
    background: #fff;
    border-radius: 20px;
    position: relative;
    margin: 20px 0;
}
.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.card .media-icons{

    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card .media-icons i{
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    cursor: pointer;
}
.card .media-icons i:hover{
    
    opacity: 1;
    
}
.card .name-profession{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.card .name-profession .name{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    
}
.card .name-profession .Profession{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.card .ratting-stars{
    display: flex;
    align-items: center;
    color: #7d2ae8;
    margin-top: 8px;
}

.card .ratting-stars i{
    margin: 0 2px;
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.card .button button{
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    margin: 0 5px;
   
}
.card .button button:hover{
    background: #6616d0;
}
















